checkpoints/
checkpoints_c2/
checkpoints_places/
*.pth
*.dat
*.log
src/__pycache__/
evaluation_results*/
inference_results/
*.zip
Eval_SPIRAL/
terminal_connect/
updated_spiral/
PlacesDateset/results/
Eval_SPIRAL_BUTMORE/
updated_spiral_8x8/