server {
    listen 80;
    server_name validate.lalithadithyan.dev;

    # Allow large uploads (up to 5GB)
    client_max_body_size 5000M;

    location / {
        proxy_pass http://127.0.0.1:5003;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
